* {
  scrollbar-width: thin;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
  }
  
  input {
    font-size: 3rem;
    height: 50px;
    width: calc(100% / 2)
  }
  
  .user-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
  }
  
  .card {
    padding: .5rem;
  }
  
  .card > .header {
    margin-bottom: .25rem;
  }
  
  .card > .body {
    font-size: .8rem;
    overflow: auto;
  }
  
  .hide {
    display: none;
  }

  .info-text {
    text-align: center;
  }