

.search-wrapper {
	display: flex;
	flex-direction: column;
	gap: .25rem;
}

input {
	font-size: 3rem;
	height: 50px;
	width: calc(100% / 2)
}

.user-cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	gap: .25rem;
	margin-top: 1rem;
}

.card {
	padding: .5rem;
}

.card>.header {
	margin-bottom: .25rem;
}

.card>.body {
	font-size: .8rem;
	overflow: hidden;
}

.card>.body:hover {
	overflow: auto;
}

.hide {
	display: none;
}

.info-text {
	text-align: center;
}

* {
	scrollbar-width: thin;
}

#show-timetable {
  height: 30px;
  width: 200px;
  font-size: 1.2rem;
  background-color: rgb(54, 54, 54);
  color: #1c82f7;
  border-color: transparent;
  border-radius: 10px;
}

#show-timetable:hover {
  background-color: #28292E;
  border-color: black;
}
