/* body {
    background: #28292E;
    color: #ffffff;
}

code {
    color: #28292F;
}

.highlight {
    border-radius: 10px;
} */

@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

* {
    background-color: rgb(54, 54, 54);
    color: #72b0f7;
    font-family: 'Rowdies', cursive;
}

h1 {
    color: #3794ff;
    font-size: 4rem;
}

h2 {
    color: #3794ff;
    font-size: 3rem;  
}

.centered {
    text-align: center;
}

.text {
    font-size: 30px;
}

.feature-cards-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	gap: .25rem;
	margin-top: 1rem;
}

.feature-card {
	padding: .5rem;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #28292E;
    cursor: pointer;
}

.feature-card>.header {
	margin-bottom: .25rem;
    font-size: 2rem;
    background-color: #28292E;
}

.feature-card>.body {
	font-size: .8rem;
	overflow: hidden;
    font-size: 1.2rem;
    color: #81b7f5;
    background-color: #28292E;
}

.feature-card>.body>pre {
    background-color: #28292E;
}